<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combat Map</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.ico">
    <style>
        body {
            background-color: #000;
            color: rgb(175, 0, 161); /* Couleur violette */
            font-family: 'Press Start 2P', cursive;
            text-align: center;
            margin: 0; /* Supprimer les marges par défaut */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative; /* Position relative pour permettre le positionnement absolu */
        }

        .map-container {
            width: 100vw; /* Prend toute la largeur de la fenêtre */
            height: 70vh; /* Réduit la hauteur pour donner de l'espace au tutoriel */
            overflow: auto; /* Permet le défilement si nécessaire */
            /* border: 2px solid rgb(175, 0, 161); Bordure violette */
            /* margin-bottom: 20px; Marge en bas */
        }

        .map-container pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-size: 1.5em;
            line-height: 1.5;
        }

        .tutorial-container {
            position: absolute; /* Position absolue pour positionner le tutoriel */
            top: 10px; /* Positionnement depuis le haut */
            left: 10px; /* Positionnement depuis la gauche */
            z-index: 1000; /* Assure que le tutoriel est au-dessus des autres éléments */
            background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
            padding: 10px;
            border-radius: 5px;
            text-align: left;
            max-width: 300px; /* Largeur maximale du tutoriel */
            color: rgb(175, 0, 161); /* Couleur du texte */
            display: inline-block;
        }

        .tutorial-container h2 {
            font-size: 1.2em;
            margin-top: 0;
        }

        .tutorial-container ul {
            margin-top: 0;
            padding-left: 20px;
        }

        .tutorial-container li {
            margin-bottom: 5px;
        }

        .test {
            color: rgb(175, 0, 161); /* Couleur violette */
            margin-top: 20px; /* Marge en haut pour laisser de l'espace au-dessus */
        }

        /* Styles pour le reste de la page */
        /* ... */
    </style>
</head>

<body>
    <!-- Tutoriel -->
    <details class="tutorial-container">
        <summary>Tutoriel</summary>
        <h2>Documentation EDA#</h2>
        <ul>
            <li><code>droite(nombre);</code> - Permet d'aller nombre fois sur la droite</li>
            <li><code>bas(nombre);</code> - Permet d'aller nombre fois sur la bas</li>
            <li><code>gauche(nombre);</code> - Permet d'aller nombre fois sur la gauche</li>
            <li><code>haut(nombre);</code> - Permet d'aller nombre fois sur la haut</li>
            <li><code>wait(nombre);</code> - Permet d'attendre nombre tour</li>
            <li><code>shield(nombre);</code> - Permet de se protéger (et ne plus pouvoir bouger) pendant nombre tour</li>
            <li><code>repeat(nombre){...}</code> - Permet d'exécuter un bloc de code entre {} nombre fois</li>
        </ul>
    </details>

    <div class="map-container">
        <pre id="zone_map" style="white-space: pre-wrap; overflow: auto;">
{{map}}
        </pre>
    </div>
    <div class="test">
        Vous jouez en {{ gamemode }} <br><br>
        Vous êtes {% if session.get("bot") == "1" %} @ {% else %} # {% endif %}
        <form action="/combat/next-turn" method="POST">
            <label for="story">CMD:</label>
            <div class="textArea">
                <p>{{ user }}@eda#.prog></p>
                <textarea id="story" name="code" rows="13" required placeholder="Votre code..."></textarea>
            </div>
            <input id="bouton_lancer" type="submit" value="Lancer" disabled><br>
        </form>
    </div>

    <div id="temps_restant">
        Temps restant : <span id="compteur">180</span>
    </div>

    <!-- message d'erreur et conseils -->
    <div id="alert" class="warning alert">Votre code n'est pas valide !</div>
    <div id="error-message" class="warning"></div>

    <script src="{{ url_for('static', filename='verif.js') }}"></script>
</body>
</html>


